<script setup lang="ts">
import { computed } from 'vue';
import TheWelcome from '../components/TheWelcome.vue'
import { ref } from 'vue'
import { mdiEmail, mdiPhone, mdiMessage, mdiLanguagePython, mdiLanguageJava, mdiLanguageCss3, mdiLanguageHtml5, mdiLanguageJavascript, mdiLanguageTypescript } from '@mdi/js';
import { useTicketStore } from '@/stores/ticket';
const on2off = useTicketStore()
const messages = ref([
  {
    from: 'เริ่มแรก',
    message: 'กดไปช่องเลือกภาพยนตร์',
    color: 'green',
  },
  {
    from: 'ขั้นที่2',
    message: 'เมื่อเลือกเสร็จกดช่องอาหารและเครื่องดื่ม',
    color: 'deep-purple-lighten-1',
  },
  {
    from: 'สุดท้าย',
    message: 'กดยืนยันและชำระเงิน',
    color: 'green',
  }
])
const movies = ref([
  {
    movie: 'Doraemon Movie: Nobitas Mermaid Legend',
    score: 991,
  },
  {
    movie: 'The Flash (2023)',
    score: 800,
  },
  {
    movie: 'The Super Mario Bros. Movie',
    score: 700,
  },
  {
    movie: 'Transformers: rise of the beasts',
    score: 500,
  },
  {
    movie: 'Spider-man: across the spider-verse',
    score: 450,
  },

])
const active = ref(false)
</script>

<template>
  <main>

    <v-carousel cycle>
      <v-carousel-item
        src="https://lh3.googleusercontent.com/muC___JjYZegVCEMR7QjOTyCrlddHcFrgrVlsgzz6B6qopDdUNA6gXtDfo4ZyAo0h8tXxtJ-GHhUq7jTmgTk5TK1rEQ9RnWL9cY=w888"></v-carousel-item>

      <v-carousel-item
        src="https://lh3.googleusercontent.com/lUiRdfVHa_DjVnY7eatnDBRCySM4HhngaZYz_808nPodalwvVXu6kOmrpi1gSyL8lfPapspNDHv9tv-U4qhO_vuxxvzduEPoxA=w888"
        to="/m3detail"></v-carousel-item>

      <v-carousel-item
        src="https://lh3.googleusercontent.com/omuSprA_srb2xBQv9zaDa1o-X3TnO9R57IZFVdN5RFnRztCl8WztL2qODiEavsCbI_M12NwaKBBqDY9wcQexycRq4DfwTeFf=w888"></v-carousel-item>

      <v-carousel-item
        src="https://lh3.googleusercontent.com/tnnFq-fl22bYtKX-JXFv9NWDGD23Tb_qvn-S9v6TKLjWAMShsSY2H4eo49gJLpKeFueKV-80RKWpVycxi040q74EVCz87LG8jEU=s0"></v-carousel-item>

      <v-carousel-item
        src="https://lh3.googleusercontent.com/LoM9ikEk53dXroiXg2daI-tMuKSm1g-h_9V1cfRH_8b6rTdsrK3wWhQi9OO4bH1F21A4PMU_SZqiEAmO0qlHhgWqB1e3RG1HRA=s0"></v-carousel-item>

      <v-carousel-item
        src="https://lh3.googleusercontent.com/IeTOJR5lnJC-TDCq_J2V4hT4uc3rNp0C8ugWQG28Vv11ntEcCbONM6i8iqjTig9RWliPO8MnX8-QG1_5EJiEQB1e6aP0VFkQIw=s0"
        cover></v-carousel-item>

      <v-carousel-item
        src="https://lh3.googleusercontent.com/z33XS8whUPetIJGuLsZMCHgYtgP5rA-XYdcjheBf-_H3t49NLrlzhu5RSOv1fTvuCeeKRWAgIAFylrVO6blNxOzziwY_BNG0=s0"></v-carousel-item>

      <v-carousel-item
        src="https://i.ytimg.com/vi/-VzWoNoJsxM/maxresdefault.jpg"
        ></v-carousel-item>

        

    </v-carousel>

  </main>

  <br>
  <div class="text-subtitle-2">
    <h1>หนังฮิตประจำปี</h1>
  </div>
  <v-container>
    <v-row>
      <v-col>
        <v-hover v-slot="{ isHovering, props }">
          <v-card class="mx-auto" max-width="344" v-bind="props">
            <v-img height="350" src="https://www.cinema.com.my/images/movies/2011/7doraemon201000_450.jpg"></v-img>

            <v-card-text>
              <h2 class="text-h6 text-primary">
                หนังยอดฮิตประจำสุดสัปดาห์
              </h2>
              โดราเอม่อน ผจญภัยในดินแดนมหาสมุทร
            </v-card-text>

            <v-card-title>
              <v-rating :model-value="5" dense color="orange" background-color="orange" hover class="me-2"></v-rating>
              <span class="text-primary text-subtitle-2">93.7 Reviews</span>
            </v-card-title>

            <v-overlay :model-value="isHovering" contained scrim="#036358" class="align-center justify-center">
              <v-btn variant="flat" to="/m3detail" @click="on2off.on2off">ดูรายละเอียดเพิ่มเติม</v-btn>
            </v-overlay>
          </v-card>
        </v-hover>
      </v-col>

      <v-col>
        <v-hover v-slot="{ isHovering, props }">
          <v-card class="mx-auto" max-width="344" v-bind="props">
            <v-img height="350"
              src="http://www.cinemaonett.com/wp-content/uploads/Movies/The-Flash-Movie-Poster-01.jpeg-403x598.webp"></v-img>

            <v-card-text>
              <h2 class="text-h6 text-primary">
                หนังยอดฮิตมาแรง
              </h2>
              The Flash (2023)
            </v-card-text>

            <v-card-title>
              <v-rating :model-value="5" dense color="orange" background-color="orange" hover class="me-2"></v-rating>
              <span class="text-primary text-subtitle-2">98.6 Reviews</span>
            </v-card-title>

            <v-overlay :model-value="isHovering" contained scrim="#036358" class="align-center justify-center">
              <v-btn variant="flat" to="/m5detail" @click="on2off.on2off">ดูรายละเอียดเพิ่มเติม</v-btn>
            </v-overlay>
          </v-card>
        </v-hover>
      </v-col>

      <v-col>
        <v-hover v-slot="{ isHovering, props }">
          <v-card class="mx-auto" max-width="344" v-bind="props">
            <v-img height="350"
              src="https://dx35vtwkllhj9.cloudfront.net/universalstudios/super-mario-bros/images/regions/us/onesheet.jpg"></v-img>

            <v-card-text>
              <h2 class="text-h6 text-primary">
                หนังฮิตอันดับ 3
              </h2>
              The Super Mario Bros. Movie
            </v-card-text>

            <v-card-title>
              <v-rating :model-value="5" dense color="orange" background-color="orange" hover class="me-2"></v-rating>
              <span class="text-primary text-subtitle-2">60.8 Reviews</span>
            </v-card-title>

            <v-overlay :model-value="isHovering" contained scrim="#036358" class="align-center justify-center">
              <v-btn variant="flat" to="/m2detail" @click="on2off.on2off">ดูรายละเอียดเพิ่มเติม</v-btn>
            </v-overlay>
          </v-card>
        </v-hover>
      </v-col>

      <v-col>
        <v-row justify="space-around">
          <v-card>

            <v-toolbar color="rgba(0, 0, 0, 0)" theme="dark">
              <template v-slot:prepend>
                <v-btn icon="$menu"></v-btn>
              </template>

              <v-toolbar-title class="text-h6">
                ขั้นตอนต่างๆ
              </v-toolbar-title>

              <template v-slot:append>
                <v-btn icon="mdi-dots-vertical"></v-btn>
              </template>
            </v-toolbar>


            <v-card-text>
              <div class="font-weight-bold">
                Today
              </div>

              <v-timeline density="compact" align="start">
                <v-timeline-item v-for="message in messages" :dot-color="message.color" size="x-small">
                  <div>
                    <div class="font-weight-normal">
                      <strong>{{ message.from }}</strong>
                    </div>
                    <div>{{ message.message }}</div>
                  </div>
                </v-timeline-item>
              </v-timeline>
            </v-card-text>
          </v-card>
        </v-row>
      </v-col>

      <v-col>
        <v-table density="compact">
          <thead>
            <tr>
              <th class="text-left">
                Movie
              </th>
              <th class="text-left">
                Score
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in movies" :key="item.movie">
              <td>{{ item.movie }}</td>
              <td>{{ item.score }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>

    
  </v-container>
  <v-container>
    <v-row>
      <v-col cols="2">
        <div>
          <h3 style="color: #F9A825;">MOVIES</h3>
          <br>
          <p1>NOW SHOWING</p1>
          <br>
          <p1>COMING SOON</p1>
          <br>
          <p1>CINEMAS</p1>
          <br>
          <p1>ACTIVITIES & NEWS</p1>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <h3 style="color: #F9A825;">SYSTEM TYPE</h3>
          <br>
          <p1>4DX</p1>
          <br>
          <p1>SCREEN X</p1>
          <br>
          <p1>SAMSUNG LED CINEMA</p1>
          <br>
          <p1>LASER PROJECTION SYSTEM</p1>
          <br>
          <p1>DOLBY ATMOS</p1>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <h3 style="color: #F9A825;">CORPORATE</h3>
          <br>
          <p1>MAJOR GROUP</p1>
          <br>
          <p1>INVESTOR RELATIONS</p1>
          <br>
          <p1>WORK WITH US</p1>
          <br>
          <p1>CORPORATE SALES</p1>
          <br>
          <p1>PRIVACY POLICY</p1>
        </div>
      </v-col>
      <v-col cols="2">
        <div>
          <h3 style="color: #F9A825;">ACCOUNT</h3>
          <br>
          <p1>MY PROFILE</p1>
          <br>
          <p1>CARD INFO</p1>
          <br>
          <p1>HISTORY</p1>

        </div>
      </v-col>

      <v-col>
        <v-layout style="height: 128px;">
      <div class="mx-auto my-4">
        <v-btn color="#F9A825" variant="outlined" @click="active = !active">
          ช่องทางติดต่อ
        </v-btn>
      </div>

      <v-bottom-navigation :active="active" color="indigo">
        <v-btn to="/phone" @click="on2off.on2off">
          <v-icon :icon="mdiPhone"> </v-icon>

          Phone
        </v-btn>

        <v-btn to="/message" @click="on2off.on2off">
          <v-icon :icon="mdiMessage"> </v-icon>

          Message
        </v-btn>

        <v-btn to="/email" @click="on2off.on2off">
          <v-icon :icon="mdiEmail"></v-icon>

          Email
        </v-btn>
      </v-bottom-navigation>

    </v-layout>
      </v-col>
    </v-row>

  </v-container>

  <v-row>
    <v-col cols="1">
      <div>
        <h1><v-icon :icon="mdiLanguagePython" size="x-large" color="success" class="ma-3"></v-icon></h1>
        <div class="ml-1">PythonMadi</div>
      </div>
    </v-col>
    <v-col cols="1">
      <h1><v-icon :icon="mdiLanguageJava" size="x-large" color="error" class="ma-3"></v-icon></h1>
      <div class="ml-2">JavaMadi</div>
    </v-col>
    <v-col cols="1">
      <h1><v-icon color="info" icon="$vuetify" size="x-large" class="ma-3"></v-icon></h1>
      <div class="ml-5">Vuetify</div>
    </v-col>
    <v-col cols="1">
      <h1><v-icon color="warning" :icon="mdiLanguageHtml5" size="x-large" class="ma-3"></v-icon></h1>
      <div class="ml-6">HTML</div>
    </v-col>
    <v-col cols="1">
      <h1><v-icon color="indigo-accent-4" :icon="mdiLanguageCss3" size="x-large" class="ma-3"></v-icon></h1>
      <div class="ml-6">CSS</div>
    </v-col>

    <v-col cols="1">
      <h1><v-icon color="yellow-lighten-1" :icon="mdiLanguageJavascript" size="x-large" class="ma-3"></v-icon></h1>
      <div class="ml-2">JavaScript</div>
    </v-col>
    <v-col cols="1">
      <h1><v-icon color="blue" :icon="mdiLanguageTypescript" size="x-large" class="ma-3"></v-icon></h1>
      <div class="ml-2">TypeScript</div>
    </v-col>
  </v-row>




  <!-- <v-btn @click="on2off.on2off" height="50" width="50">
        <v-icon :icon="mdiLanguagePython" size="x-large" color="teal-lighten-1" > </v-icon>

        Python Bangsaen
      </v-btn> -->
</template>
