<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img
                        src="https://lh3.googleusercontent.com/SXSS09c4AEm_8Z6DOEXi_OwGJyQ64PdJbt-tq92es5EET4Dz65XxbjoG6nurinu57Q9gWppK8E7nS6-2NvUxWIAF9JH5KzW2U4o=w280"
                        height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>โดราเอมอน ตอน สงครามอวกาศจิ๋วของโนบิตะ</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        06 October 2022
                                        <div>
                                            โดราเอมอน ตอน สงครามอวกาศจิ๋วของโนบิตะ
                                        </div>
                                        <v-chip class="ma-2">แอ็คชัน</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">แอนิเมชัน</v-chip>


                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"110 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    One day, Nobita picks a small rocket from which a small-sized humanoid alien Papi comes
                                    out. He came from the planet named 'Pirika' to the Earth to escape from the PCIA army of
                                    his planet. At the very beginning, Doraemon and his friends were confused by the small
                                    size of Papi, but with the gadget "Small Light", they became small and play together.
                                    However, the whale-shaped battleship, who chased Papi and came to the Earth, attacks
                                    Doraemon and Nobita to catch Papi. Papi blames himself for having involved everyone, but
                                    he tries to fight against the PCIA army. In order to protect Papi and his planet Pirika,
                                    Doraemon and his friends go to Pirika.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/JEqdkXeeajk" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar image="" prepend-icon="empty"
                                    size="60"></v-avatar>
                                    Shin Yamaguchi
                            </v-col>
                        </v-row>
                    </v-container>
            </v-col>
        </v-row>
    </v-container>
</v-card></template>

<style scoped></style>