<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img
                        src="https://mlpnk72yciwc.i.optimole.com/cqhiHLc.IIZS~2ef73/w:600/h:900/q:75/https://bleedingcool.com/wp-content/uploads/2022/12/Suzume_Main-KV_2x3.jpg"
                        height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Suzume : การผนึกประตูของซุซุเมะ</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        13 April 2023
                                        <div>
                                            Suzume : การผนึกประตูของซุซุเมะ
                                        </div>
                                        <v-chip class="ma-2">แอนิเมชัน</v-chip>
                                        <v-chip class="ma-2">แฟนตาซี</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"122 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    A modern action adventure road story where a 17-year-old girl named Suzume helps a
                                    mysterious young man close doors from the other side that are releasing disasters all
                                    over in Japan.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/IaKVheVZtt0" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://m.media-amazon.com/images/M/MV5BN2IxMTg5YmEtMWQ5NC00NDQyLTliOWQtMjkxYTU5NDFmMmQyXkEyXkFqcGdeQXVyMTExNDQ2MTI@._V1_.jpg"
                                    size="60"></v-avatar>
                                Makoto Shinkai
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped></style>