<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img src="https://www.newdvdreleasedates.com/images/movies/guardians-of-the-galaxy-vol.-3-2023.jpg" height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Guardians of the Galaxy Vol. 3</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        03 May 2023
                                        <div>
                                            Guardians of the Galaxy Vol. 3
                                        </div>
                                        <v-chip class="ma-2">แอ็คชัน</v-chip>
                                        <v-chip class="ma-2">ผจญภัย</v-chip>
                                        <v-chip class="ma-2">ตลก</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"150 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    Still reeling from the loss of Gamora, Peter Quill rallies his team to defend the
                                    universe and one of their own - a mission that could mean the end of the Guardians if
                                    not successful.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/u3V5KDHRQvk" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://imgix.bustle.com/uploads/getty/2018/7/20/fcaadb68-9761-4ce9-aa69-8830f6f024c2-getty-859990040.jpg?w=800&auto=format%2Ccompress&cs=srgb&q=70&fit=crop&crop=faces"
                                    size="60"></v-avatar>
                                James Gunn
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped></style>