<script setup lang="ts">
import { mdiClockTimeFiveOutline } from '@mdi/js';
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()


</script>

<template>
    <v-card>
        <v-container ma-0 pa-0 fill-height>
            <v-row>
                <v-col col="4" class="box">
                    <v-img src="https://lh3.googleusercontent.com/G29u6AsfQpO9VsvAW1qd2FUC0rO1EJ4vvjlhekfw_owBUM29oqNEu8ek1BsdZ-iAXR4RSTDkJ8gifcY6IXjf=w260"
                        height="400"></v-img>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>โดราเอมอน เดอะมูฟวี่ : โนบิตะสำรวจดินแดนจันทรา</h2>
                                <div class="mdcm-box">

                                    <div class="mdcm-title">
                                        03 October 2019
                                        <div>
                                            โดราเอมอน เดอะมูฟวี่ : โนบิตะสำรวจดินแดนจันทรา
                                        </div>
                                        <v-chip class="ma-2">แอนิเมชัน</v-chip>

                                        <div class="mdcm-logo" style="display: flex;">
                                            <v-icon :icon="mdiClockTimeFiveOutline"></v-icon>"110 นาที"
                                        </div>
                                        <a id="view_showtime" href="/booking2/search_showtime/movie=1977">
                                            <v-btn color="indigo-lighten-4" class="ma-2" to="/m1time"
                                                @click="useTicket.ticketDate('WED 07 JUN')">
                                                <h3>ดูรอบฉาย</h3>
                                            </v-btn>
                                        </a>
                                    </div>
                                    <h1>Synopsis</h1>
                                    Nobita saw a moon turned yellow last night and told his class about it but they think
                                    it's funny. Doraemon gives him the "History Explorers Club Badge" and discovers there's
                                    life on the moon. Until a new student changed him forever.
                                </div>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>

                <v-col col="8" class="box">
                    <iframe width="700" height="400" src="https://www.youtube.com/embed/QHLOkS8ORf8" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen>
                    </iframe>
                    <v-container>
                        <v-row>
                            <v-col>
                                <h2>Director</h2>
                                <v-avatar
                                    image="https://images.mubicdn.net/images/cast_member/156616/cache-98190-1410875911/image-w856.jpg"
                                    size="60"></v-avatar>
                                    Jeong-beom Lee
                                    <v-avatar
                                    image="https://www.animenewsnetwork.com/hotlink/images/encyc/P80944-1293399750.1556438865.jpg"
                                    size="60"></v-avatar>
                                    Shinnosuke Yakuwa
                            </v-col>
                        </v-row>
                    </v-container>
                </v-col>
            </v-row>
        </v-container>
    </v-card>
</template>

<style scoped></style>