<script setup lang="ts">
import { mdiNumeric1Circle, mdiNumeric2Circle, mdiNumeric3Circle, mdiNumeric4Circle } from '@mdi/js'

import { useTypeStore } from "../type/type"
import { ref } from 'vue';
const useType = useTypeStore()
const selected = ref([])
import { useTicketStore } from '../stores/ticket'
const useTicket = useTicketStore()
</script>
<template>
  <v-card>
    <v-container>
      <v-row>
        <v-col style="color: #00E676;" cols="3">
          
          <h2 ><v-icon :icon="mdiNumeric1Circle" size="x-large" class="ma-5"></v-icon> ----------------</h2>
          <p2>เลือกภาพยนตร์</p2>
        </v-col>
          <v-col style="color: #00E676;" cols="3">
            <h2><v-icon :icon="mdiNumeric2Circle" size="x-large" class="ma-5"></v-icon> ----------------</h2>
            <p2>เลือกรอบฉาย</p2>
          </v-col>
          <v-col style="color: #00E676;" cols="3">
            <h2><v-icon :icon="mdiNumeric3Circle" size="x-large" class="ma-5"></v-icon> ---------------- </h2>
            <p2 class="ma-3">เลือกที่นั่ง</p2>
          </v-col>
          <v-col  >
            <h2><v-icon :icon="mdiNumeric4Circle" size="x-large" class="ma-5"></v-icon> </h2>
            <p2> ซื้อตั๋ว / ชำระเงิน</p2>

          </v-col>
      </v-row>
    </v-container>
  </v-card>
  <div>
    <v-hover v-slot="{  props }">
      <v-card class="mx-auto" color="grey-lighten-4" max-width="600" v-bind="props">
        <div v-if="useTicket.ticketnow.name == 'Transformers: rise of the beasts'">
          <v-img :aspect-ratio="16 / 9" cover
            src="https://media.webmagazine24.it/wp-content/uploads/2023/06/09151259/Transformers-rise-of-the-beats-e1686316432150-865x1024.jpg">
            <!-- <v-expand-transition>
              <div v-if="isHovering" class="d-flex transition-fast-in-fast-out bg-green-darken-2 v-card--reveal text-h2"
                style="height: 100%;">
                $14.99
              </div>
            </v-expand-transition> -->
          </v-img>
        </div>

        <div v-if="useTicket.ticketnow.name == 'The Super Mario Bros. Movie'"><v-img :aspect-ratio="16 / 9" cover
            src="https://dx35vtwkllhj9.cloudfront.net/universalstudios/super-mario-bros/images/regions/us/onesheet.jpg">
            <!-- <v-expand-transition>
              <div v-if="isHovering" class="d-flex transition-fast-in-fast-out bg-green-darken-2 v-card--reveal text-h2"
                style="height: 100%;">
                $14.99
              </div>
            </v-expand-transition> -->
          </v-img></div>

        <div v-if="useTicket.ticketnow.name == 'Doraemon Movie: Nobitas Mermaid Legend'"><v-img :aspect-ratio="16 / 9" cover
            src="https://www.cinema.com.my/images/movies/2011/7doraemon201000_450.jpg">
            <!-- <v-expand-transition>
              <div v-if="isHovering" class="d-flex transition-fast-in-fast-out bg-green-darken-2 v-card--reveal text-h2"
                style="height: 100%;">
                $14.99
              </div>
            </v-expand-transition> -->
          </v-img></div>

        <div v-if="useTicket.ticketnow.name == 'Spider-man: across the spider-verse'"><v-img :aspect-ratio="16 / 9" cover
            src="https://preview.redd.it/5340uy7qfyr81.jpg?auto=webp&s=73a6ea145845f7ccb3a074dbb81158a86cc08fdf">
            <!-- <v-expand-transition>
              <div v-if="isHovering" class="d-flex transition-fast-in-fast-out bg-green-darken-2 v-card--reveal text-h2"
                style="height: 100%;">
                $14.99
              </div>
            </v-expand-transition> -->
          </v-img></div>

        <div v-if="useTicket.ticketnow.name == 'The Flash (2023)'"><v-img :aspect-ratio="16 / 9" cover
            src="http://www.cinemaonett.com/wp-content/uploads/Movies/The-Flash-Movie-Poster-01.jpeg-403x598.webp">
            <!-- <v-expand-transition>
              <div v-if="isHovering" class="d-flex transition-fast-in-fast-out bg-green-darken-2 v-card--reveal text-h2"
                style="height: 100%;">
                $14.99
              </div>
            </v-expand-transition> -->
          </v-img></div>



        <v-card-text class="pt-6">
          <div class="font-weight-light text-grey text-h6 mb-2">
            {{ useTicket.ticketnow.where }}
          </div>

          <h3 class="text-h4 font-weight-light text-orange mb-2">
            {{ useTicket.ticketnow.name }}
          </h3>

          <div class="font-weight-light text-h6 mb-2">
            รอบฉาย<br>
            {{ useTicket.ticketnow.date }}<br>
            <h3>{{ useTicket.ticketnow.time }} </h3><br>
            <v-container>
            <v-row>
              <v-col>
              
                ที่นั่ง:
            <v-container >
              <span v-for="item of useTicket.ticketnow.seat" :key="item" class="ml-3">{{ item }}</span> 
            </v-container>
          <br>
              </v-col>
              <v-col>
                <div>ราคา</div>
                {{ useTicket.ticketnow.seat.length * 150 }}
              </v-col>
            </v-row>
          </v-container>
            
            
          </div>
        </v-card-text>
        <v-container>
          <v-row>
            <v-col cols="7">

            </v-col>
            <v-col cols="5">
              <v-btn size="large" color="green" to="/pay" @click="useTicket.push2View">
                เลือกช่องทางการชำระเงิน
              </v-btn>

            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-hover>
  </div>
</template>

<style scoped>
v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .9;
  position: absolute;
  width: 100%;
}
</style>